h1 {
    font-style: italic;
    text-align: center;
    font-size: 35px;
    padding-top: 45px;
}
p {
    font-size: 20px;
}

.main-body {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    font-size: 20px; 
    position:relative;   
}