<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>             
            <mat-icon aria-hidden="false" aria-label="home">home</mat-icon>
        </a>
    </span>
    <div>
        <a mat-button routerLink="register"> 
            Register
        </a>
    </div>
    <div>
        <a mat-button routerLink="login"> 
            Login
        </a>
    </div>
    <div>
        <a mat-button routerLink="direcciones"> 
            Direcciones
        </a>
    </div>
    <div>
        <a mat-button routerLink="listadodirecciones"> 
            Listado Direcciones
        </a>
    </div>
</mat-toolbar>

